html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(84, 84, 84);
    color: rgb(206, 206, 206);
}


/* Resizer Bars */

span.Resizer.vertical {
    cursor: ew-resize;
    width: 1.5px;
    background-color: rgb(102, 102, 102);
    position: relative;
    z-index: 1;
}

span.Resizer.vertical::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    cursor: ew-resize;
    z-index: -1;
}

span.Resizer.horizontal {
    cursor: ns-resize;
    height: 1.5px;
    background-color: rgb(102, 102, 102);
    position: relative;
    z-index: 1;
}

span.Resizer.horizontal::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    cursor: ns-resize;
    z-index: -1;
}

/* Components */

.topbar {
    background: #333;
    padding: 10px;
    border-bottom: 1.5px solid rgb(102, 102, 102);
}

.code-pane {
    background: #2d2d2d;
    height: 100%;
}

.diagram-pane {
    background: #242424;
    height: 100%;
    width: 100%;
}

.list-pane {
    background: #3d3d3d;
    height: 100%;
}

.terminal-pane {
    background: #171717;
    height: 100%;
    width: 100%;
}