html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #393939;;
    color: #bbb;
}


/* Resizer Bars */

span.Resizer.vertical {
    cursor: ew-resize;
    width: 1px;
    background-color: rgb(85, 85, 85);
    position: relative;
    z-index: 1;
}

span.Resizer.vertical::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    cursor: ew-resize;
    z-index: -1;
}

span.Resizer.horizontal {
    cursor: ns-resize;
    height: 1px;
    background-color: rgb(85, 85, 85);
    position: relative;
    z-index: 1;
}

span.Resizer.horizontal::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    cursor: ns-resize;
    z-index: -1;
}

/* Components */

.topbar {
    background: #393939;
    height: 35px;
    padding: 10px;
    border-bottom: 1px solid rgb(85, 85, 85);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

.code-pane {
    background: #2d2d2d;
    height: 100%;
    width: 100%;
}

.diagram-pane {
    background: #242424;
    height: 100%;
    width: 100%;
}

.list-pane {
    background: #393939;
    height: 100%;
    width: 100%;
}

.terminal-pane {
    background: #242424;
    height: 100%;
    width: 100%;
}

/* Ace Editor Styles */

.ace_scrollbar {
    scrollbar-color: rgb(100, 100, 100) rgb(63, 63, 63);
    scrollbar-width: thin;
}

.ace_scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
}

.ace_scrollbar::-webkit-scrollbar-track {
    background-color: rgb(63, 63, 63);
}

/* Inner Topbar */
.icon {
    padding-right: 7px;
}

.topbar-left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 100%;
    font-weight: 600;
    font-size: 15px;
}
.topbar-left-container:hover {
    cursor: pointer;
}
.topbar-right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-size: 13px;
}

.right-btn {
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
    height: 100%;
}
.right-btn:hover {
    background: #2e2e2e;
    cursor: pointer;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.progress-bar {
    width: 200px;
    height: 100%;
    position: relative;
    background-color: #595959;
}

.progress-bar-active {
    height: 100%;
    background-color: #17ec7a;
}

.progress-bar-value {
    position: absolute;
    width: 100%;
    text-align: center;
    color: black; /* choose a color that is visible on your progress bar */
}
.progress-bar-current-value {
    font-weight: bold;
}

.step-btn {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px 0 15px;
    font-weight: 700;
}
.step-btn:hover {
    background: #2e2e2e;
    cursor: pointer;
}

.speed-slider-container {
    width: 180px;
    gap: 20px;
}

.speed-slider {
    width: 80px;
}

.speed-slider-track {
    background-color: #505050;
}

.speed-slider .speed-slider-track {
    height: 7px;
    transform: translateY(-50%);
}

.speed-slider-thumb {
    background-color: #BBBBBB;
}

.speed-slider .speed-slider-thumb {
    width: 7px;
    height: 15px;
    transform: translateY(-50%);
}
.speed-slider .speed-slider-thumb:focus-visible {
    outline: none;
}

/* List panel elements */

.dropdown-container {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.dropdown-title-container {
    padding-left: 10px;
}
/* .dropdown-title-container:hover {
    background-color: rgb(68, 68, 68);
    cursor: pointer;
} */
.dropdown-title {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    padding: 5px 0px;
}

.dropdown-content {
    background-color: rgb(44, 44, 44);
    width: 100%;
    box-sizing: border-box;
}

.dropdown-inner-content {
 padding-left: 10px;
}